body {
  background-color: #f4f6f8;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #2c3e50;
}

.providers-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
}

.providers-table th,
.providers-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.providers-table th {
  background-color: #f1f1f1;
}

.providers-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.providers-table .activo {
  color: green;
  font-weight: bold;
}

.providers-table .inactivo {
  color: red;
  font-weight: bold;
}


/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
